# Azure Blob Storage Configuration
AZURE_CONTAINER_URL=https://datubox.blob.core.windows.net/bhutan-box?sp=racwd&st=2025-10-05T01:28:45Z&se=2025-10-05T09:43:45Z&sv=2024-11-04&sr=c&sig=yAvIRk1Tt%2F7Fvzr3U1JuUch%2FRTs7SB2O47Y%2Bx%2Fb1gSM%3D
